// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.answer {
  .timeago {
    float: right;
    margin-left: 2em;
    margin-bottom: 1em;
    color: tint($text-color, 60%);
    text-shadow: 1px 1px shade($text-shadow-color, 10%);
  }

  p {
    width: grid-width(12);
  }
}
