/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require reset
 *= require typography
 *= require forms
 *= require ie
 *= require_self
*/

@import "bourbon";

$gw-column: 45px;
$gw-gutter: 16px;
$box-shadow-color: #888;
$text-color: #ddd;
$text-shadow-color: #333;
$page-bg-color: #31363A;
$content-bg-color: #c0cccc;

body {
  font-size: 100%;
  width: grid-width(16);
  margin: 0 auto;
  background-color: $page-bg-color;
  background-image: url(/assets/concrete_wall.png);
  color: $text-color;
}

div {
  text-align: left;
  background-color: transparent;
}

h1, h2, h3 {
  color: $text-color;
  text-shadow: 1px 1px $text-shadow-color;
}

.flash {
  border-width: 0;
  margin: 0;
  margin-left: grid-width(1);
  width: grid-width(14);
  @include border-radius(0 0 10px 10px);
  @include box-shadow(1px 2px 3px 0 $box-shadow-color);
}

header {
  font-size: golden-ratio(14px, 1);
  text-shadow: 1px 1px $text-shadow-color;
  padding: $gw-gutter;
  overflow: hidden;
  position: relative;

  @include border-radius(0px 0px 10px 10px);
  @include box-shadow(1px 1px 2px 0 $box-shadow-color, inset 1px 1px 1px 0 rgba(255, 255, 255, 0.4));

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    font-size: 0.813em;

    li { 
      display: inline-block; 
      margin: 0 0.25em;
    }
  }

  .logo { 
    float: left; 
    text-decoration: none;
    color: $text-color;
  }
}

#content {
  background: rgba(0, 0, 0, 0.25);
  padding: $gw-gutter;
  margin-top: $gw-gutter;
  @include border-radius(10px);
  @include box-shadow(1px 1px 2px 0 $box-shadow-color, inset 1px 1px 1px 0 rgba(255, 255, 255, 0.4));
}

div.answer, div.question {
  .timeago {
    float: right;
    margin-left: 2em;
    margin-bottom: 1em;
    color: tint($text-color, 35%);
    font-size: 0.813em;
    text-shadow: 1px 1px shade($text-shadow-color, 10%);
  }

  p {
    width: grid-width(12);
  }
}

form.answer, form.question {
  padding-top: 1em;
}

.sticky {
  position: fixed;
  top: 0;
  width: grid-width(15) + 2*$gw-gutter;
  background: #000
}

@import "welcome";
@import "custom_form";
@import "answers";
