input[type="text"], input[type="password"], input[type="url"], input[type="email"], input.text, input.title, textarea, select {
  margin: 0 0 1em 0;
  padding: 5px;
  color: $text-color;
  @include border-radius(4px);
  @include box-shadow(1px 1px 3px 1px rgba(136, 136, 136, 0.4) inset);
}

input::-webkit-input-placeholder {
   color: #aaa;
}

input:-moz-placeholder {
   color: #aaa;
}

label { 
  display: block;
}

.input.boolean {
  label { display: inline; }
}
